In [ ]:
# Write your MySQL query statement below
WITH sell as (
SELECT stock_name, operation, sum(price) as s_amount FROM Stocks
WHERE operation='Sell'
GROUP BY stock_name, operation
),

buy as (
SELECT stock_name, operation, sum(price) as b_amount FROM Stocks
WHERE operation='buy'
GROUP BY stock_name, operation
)

SELECT s.stock_name, (s.s_amount- b.b_amount) as capital_gain_loss FROM sell s
INNER JOIN buy b
ON s.stock_name=b.stock_name