In [ ]:
# Write your MySQL query statement below
SELECT u.name, coalesce(src.travelled_distance, 0) as travelled_distance  FROM Users u LEFT JOIN (SELECT user_id, sum(distance) as travelled_distance FROM Rides
GROUP BY user_id) as src
ON u.id=src.user_id
ORDER BY src.travelled_distance desc, u.name asc