<a href="https://colab.research.google.com/github/githbsingh/CdkEc2ExistingVpc/blob/master/626_Exchange_Seats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Q. 626. Exchange Seats
Sol. # Write your MySQL query statement below
SELECT
CASE WHEN id = (SELECT count(*) FROM Seat) and MOD(id,2) = 1 THEN id
 WHEN MOD(id,2) = 1 THEN id + 1
 WHEN MOD(id,2) = 0 THEN id - 1
END AS id,
student
FROM Seat
order by id