<a href="https://colab.research.google.com/github/githbsingh/CdkEc2ExistingVpc/blob/master/pyspark_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
import pandas as pd
df = pd.read_excel('/content/pySparkTest.xlsx')
df.head()
df.to_csv ("/content/Test.csv",
                  index = None,
                  header=True)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('/content/Test.csv')

In [ ]:
df_pyspark.show()

+----+---+
| _c0|_c1|
+----+---+
|Name|Age|
|   A| 23|
|  B | 34|
|   C| 44|
|   D| 49|
+----+---+

In [ ]:
df_pyspark = spark.read.option('header','true').csv('/content/Test.csv')

In [ ]:
df_pyspark.show()

+----+---+
|Name|Age|
+----+---+
|   A| 23|
|  B | 34|
|   C| 44|
|   D| 49|
+----+---+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='A', Age='23'), Row(Name='B ', Age='34'), Row(Name='C', Age='44')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)